@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom social icon hover fills */
.instagram-hover:hover {
  fill: #dc2743; /* Instagram color */
}

.tiktok-hover:hover {
  fill: #69C9D0; /* TikTok color */
}

.youtube-hover:hover {
  fill: #FF0000; /* YouTube color */
}

.spotify-hover:hover {
  fill: #1DB954; /* Spotify color */
}

.apple-music-hover:hover {
  fill: #FC3A55; /* Apple Music color */
}

